<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wasp.amanda.projet_mobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fav_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fav_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AnnoncementConnected"
            android:label="@string/title_activity_annoncement_connected"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateAccount" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnnoncesNonConnectees"
            android:label="Les Annonces"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnnonceListActivity"
            android:label="@string/title_annonce_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnnonceDetailActivity"
            android:label="@string/title_annonce_detail"
            android:parentActivityName=".AnnonceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wasp.amanda.projet_mobile.AnnonceListActivity" />
        </activity>
        <activity
            android:name=".FilterActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".userActions.AgendaActivity"
            android:label="Agenda"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".userActions.PublishAnnoncesActivity"
            android:label="@string/title_activity_publish_annonces"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userActions.CreateShortAnnonceActivity"
            android:label="@string/title_activity_create_short_annonce"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".userActions.RendezVousActivity"
            android:label="Rendez vous" />
        <activity
            android:name=".userActions.CreateLongAnnonceActivity"
            android:label="@string/title_activity_create_long_annonce"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".userInformation.ProfilActivity" />
        <activity android:name=".userInformation.ProfileActivityEdit" />
        <activity android:name=".userActions.GetRendezVousActivity" />
        <activity android:name=".userActions.CommenterActivity"></activity>
    </application>

</manifest>